/MovingPictureVisitor.java
/MovingPictureParser.java
/MovingPictureListener.java
/MovingPictureLexer.tokens
/MovingPictureLexer.java
/MovingPictureBaseVisitor.java
/MovingPictureBaseListener.java
/MovingPicture.tokens
